<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments.html :: head('Springsteps - Neues Produkt')}"></head>

    <body>

        <nav th:replace="~{fragments.html :: mainNav}"></nav>

        <main class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">

                    <h1 class="display-3" th:text="${headline}"></h1>

                    <form action="/save" method="post" th:object="${product}">

                        <input type="hidden" th:field="*{id}">

                        <div class="mb-3">
                            <label for="name" class="form-label">Produktname</label>
                            <input type="text" class="form-control" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="price" class="form-label">Preis</label>
                            <input type="text" class="form-control" th:field="*{price}" th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="amount" class="form-label">Menge</label>
                            <input type="text" class="form-control" th:field="*{amount}" th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                        </div>

                        <div class="mb-3">
                            <label for="availableSince" class="form-label">Im Sortiment seit</label>
                            <input type="text" class="form-control" th:field="*{availableSince}" th:classappend="${#fields.hasErrors('availableSince')} ? 'is-invalid' : ''">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('availableSince')}" th:errors="*{availableSince}"></div>
                        </div>

                        <button type="submit" class="btn btn-success">Speichern</button>
                    </form>
                </div>
            </div>
        </main>


        <th:block th:replace="~{fragments.html :: foot}"></th:block>
    </body>
</html>