<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments.html :: head('Springsteps - Produkte')}"></head>

    <body>

        <nav th:replace="~{fragments.html :: mainNav}"></nav>

        <main class="container">
            <div class="row">
                <div class="col">

                    <h1 class="display-3" th:text="${headline}"></h1>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Preis</th>
                                <th>Anzahl</th>
                                <th>Im Sortiment seit</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.id}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${{product.price}}"></td>
                                <td th:text="${product.amount}"></td>
                                <!-- ${{varname}} verwendet einen Standard- oder einen registrierten Converter-->
                                <td th:text="${{product.availableSince}}"></td>
                                <td>
                                    <a th:href="@{/edit/{id}(id=${product.id})}"><i class="bi bi-pencil-square" style="font-size: 1.5rem" title="Bearbeiten"></i></a>
                                    <a th:href="@{/delete/{id}(id=${product.id})}"><i class="bi bi-trash" style="font-size: 1.5rem" title="Löschen"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </main>

        <th:block th:replace="~{fragments.html :: foot}"></th:block>

    </body>
</html>