<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments.html :: head('Springsteps - Startseite')}"></head>

    <body>

        <nav th:replace="~{fragments.html :: mainNav}"></nav>

        <main class="container">
            <div class="row">

                <div class="col">

                    <h1 class="display-3" th:text="${headline}"></h1>
                    <p th:text="${content}"></p>

                </div>
            </div>
        </main>


        <th:block th:replace="~{fragments.html :: foot}"></th:block>
    </body>
</html>