<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

    <!--
        Templates enthalten HTML, CSS und Thymeleaf-Platzhalter.
        Thymeleaf-Platzhalter/Funktionen erkennt man am Prefix th:
        Thymeleaf ist eine Template-Engine. Sie ermöglich statisches HTML
        dynamisch zu machen.
     -->

    <!-- th:replace Dieser Tag wird durch ein Fragment aus einer anderen Datei ersetzt -->
    <head th:replace="~{fragments.html :: head('Springsteps - Startseite')}"></head>

    <body>

        <nav th:replace="~{fragments.html :: mainNav}"></nav>

        <main class="container">
            <div class="row">

                <div class="col">

                    <!--
                        th:text liest den Wert für den namen (Schlüssel) des Platzhalters aus dem Model
                        das vom Controller befüllt und an dieses Template weitergegeben wurde
                    -->
                    <h1 class="display-3" th:text="${headline}"></h1>
                    <p th:text="${content}"></p>

                </div>
            </div>
        </main>


        <th:block th:replace="~{fragments.html :: foot}"></th:block>
    </body>
</html>