<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>Springsteps</title>
        <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 th:text="${title}"></h1>

        <nav>
            <!-- ul>li*4>a -->
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="/products">Produkte</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>

        <div th:if="${showForm}">
            <hr>
            <form action="/save" method="post">

                <!--
                    name = Schlüssel für das Verwenden des Wertes. Wichtig bei der Verarbeitung
                    id = Name des Feldes für die Zuordnung der Labels
                -->

                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control">
                <br>

                <label for="description">Beschreibung</label>
                <textarea name="description" id="description" cols="30" rows="6"></textarea>
                <br>

                <label for="quantity">Anzahl</label>
                <input type="text" name="quantity" id="quantity">
                <br>

                <label for="price">Preis</label>
                <input type="text" name="price" id="price">
                <br>

                <button type="submit">Speichern</button>

            </form>
        </div>

        <hr>

        <table th:if="${showProducts}" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Anzahl</th>
                    <th>Preis</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${products}">
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.description}"></td>
                    <td th:text="${p.quantity}"></td>
                    <td th:text="${p.price}"></td>
                    <td>
                        <a th:href="@{'/delete/' + ${p.id}}">Löschen</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>